/* Variables */
:root {
    --red-color: rgb(226, 43, 43);
    --gray-color: rgb(66, 66, 66);
    --white-color: rgb(255, 243, 243);
    --background-color: rgba(239, 238, 238, 0.8);
}

body {
    padding: 0;
    margin: 0;
    font-family: "Zilla Slab", Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

section,
footer {
    margin: 0 18px;
}

/* Header and header image */
header {
    background: rgba(117, 117, 117, 0.805) url(../images/bassooncloseup.jpg) no-repeat center;
    font-size: larger;
    display: block;
    background-size: cover;
    background-blend-mode: darken;
    padding: 10em 5em;
    margin-top: -4em;
}

.header {
    color: var(--white-color);
    text-align: left;
}

h2,
h3,
h4 {
    color: var(--red-color);
}

p,
ul,
ol {
    color: var(--gray-color);
}

/* Home Page Layouts */
#scales {
    display: flex;
    flex-direction: row;
}

#scales-text {
    padding: 1em;
}

#set-up-list {
    justify-content: center;
    padding: 1em 2em;
    width: 60%;
}

#crutch-img {
    float: left;
    padding: 0.5em 1em;
    padding-top: 0;
    min-width: 75px;
    max-width: 150px;
    width: 15%;
}

section#cleaning {
    clear: both;
}

/* Reeds Page Layout */
.lists {
    background-color: var(--background-color);
    padding: 1em;
}

#reed-care-list {
    width: 75%;
    padding: 0.5em;
}

#tools-list {
    width: 10em;
    padding: 0.5em;
}

.first-wire {
    display: grid;
    grid-template-columns: repeat(2, 25em);
    grid-template-rows: 1fr;
    grid-gap: 1em;
    justify-content: center;
    grid-template-areas:
        "opening closing";
}

.opening {
    grid-area: opening;
    text-align: center;
}

.closing {
    grid-area: closing;
    text-align: center;
}

#second-wire {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1em;
    justify-content: center;
    grid-template-areas:
        "tight round flat";
}

#tightening {
    grid-area: tight;
    text-align: center;
}

#rounder {
    grid-area: round;
    text-align: center;
}

#flatter {
    grid-area: flat;
    text-align: center;
}

.scraping-lists {
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

/* Images */
#fingering-chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#scales {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.phone-pics {
    min-width: 300px;
    max-width: 450px;
    width: 100%;
}

#air-flow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    max-width: 200px;
    width: 33%;
}

#reed-anatomy-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section#reed-modifying img {
    min-width: 150px;
    max-width: 250px;
    width: 100%;
    padding: 0 0.5em;
}

#cane-prep-image {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Jump Links */
.jump-links {
    text-align: center;
}

/* Links */
a:link {
    color: var(--gray-color);
}

a:visited {
    color: var(--gray-color);
    text-decoration: none;
}

a:hover {
    color: var(--red-color);
}

/* Accordions */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    font-family: "Zilla Slab", Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: var(--red-color);
    background: rgb(247, 247, 247);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: rgb(220, 220, 220);
    text-align: left;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: rgb(231, 231, 231);
    font-weight: bolder;
}

/* Style the accordion panel. Hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Footer */
footer,
#crookandstaple {
    clear: left;
    text-align: center;
    font-size: 0.75em;
    color: var(--gray-color);
}

/* Nav Bar */
nav {
    text-align: center;
    background: transparent;
    position: relative;
}

nav ul {
    padding: 0;
}

nav ul div.nav-toggle {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

nav ul li {
    padding: 0 1.5em;
}

nav ul li a {
    color: var(--white-color) !important;
    text-decoration: none;
    font-weight: bolder;
}

nav ul a:hover {
    color: rgb(255, 74, 74) !important;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

nav .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: unset;
    background: unset;
    display: none;
}

nav .hamburger .icon-close {
    display: none;
}

/* Media Queries */
/* Header, images, grid layouts break again at width <=350px */

@media (width <=456px) {
    header {
        padding: 5em 5em;
    }

    .header {
        font-size: 1.5em;
    }

    h2,
    h3,
    h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--red-color);
        font-size: large;
    }
}

@media (width <=760px) {
    nav {
        background-color: rgb(0, 0, 0);
        margin-top: -1em;
    }

    nav ul {
        flex-direction: column;
        justify-content: right;
        visibility: hidden;
        transition: max-height 1s ease-in-out;
    }

    nav ul div.nav-toggle {
        display: none;
    }

    nav ul li a {
        display: block;
        padding: 1em;
    }

    nav ul li:hover {
        background-color: rgb(44, 44, 44);
    }

    nav.open ul {
        padding: 0;
        visibility: visible;
        transition: max-height 5s ease-in-out;
    }

    nav.open .nav-toggle {
        display: block;
    }

    nav .hamburger {
        display: block;
    }

    nav.open .hamburger .icon-open {
        display: none;
    }

    nav.open .hamburger .icon-close {
        display: block;
    }

    header {
        margin-top: -1em;
    }

    .header {
        text-align: center;
    }

    #scales {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #fingering-chart {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .phone-pics {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (width <=850px) {
    #set-up-list {
        width: 75%;
    }

    .first-wire {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "opening"
            "closing";
    }

    #second-wire {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "tight"
            "round"
            "flat";
    }
}