/* Variables */
:root {
    --red-color: rgb(226, 43, 43);
    --gray-color: rgb(66, 66, 66);
    --white-color: rgb(255, 243, 243);
    --background-color: rgba(239, 238, 238, 0.8);
}

body {
    padding: 0;
    margin: 0;
    font-family: "Zilla Slab", Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

section,
footer {
    margin: 0 18px;
}

/* Header and header image */
header {
    background: rgba(117, 117, 117, 0.805) url(images/bassooncloseup.jpg) no-repeat center;
    font-size: larger;
    display: block;
    background-size: cover;
    background-blend-mode: darken;
    padding: 10em 5em;
    margin-top: -4em;
}

.header {
    color: var(--white-color);
    text-align: left;
}

.jump-links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.jump-links ul li {
    padding: 0 0.5em;
}

h2,
h3,
h4 {
    color: var(--red-color);
}

p,
ul,
ol {
    color: var(--gray-color);
}

/* Home Page Layouts */
#scales {
    display: flex;
    flex-direction: row;
}

#scales-text {
    padding: 1em;
}

/* Basics Page Layout */
/* #set-up-and-img {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "list image";
} */

#set-up-list {
    /* grid-area: list; */
    justify-content: center;
    padding: 1em 2em;
    width: 60%;
}

/* #sitting-img {
    grid-area: image;
    padding: 1em 3em;
    padding-left: 5em;
} */

#crutch-img {
    float: left;
    padding: 0.5em 1em;
    padding-top: 0;
    min-width: 75px;
    max-width: 150px;
    width: 15%;
}

section#cleaning {
    clear: both;
}

/* Reeds Page Layout */
.lists {
    background-color: var(--background-color);
    padding: 1em;
}

#reed-care-list {
    width: 75%;
    padding: 0.5em;
}

#tools-list {
    width: 10em;
    padding: 0.5em;
}

.first-wire {
    display: grid;
    grid-template-columns: repeat(2, 25em);
    grid-template-rows: 1fr;
    grid-gap: 1em;
    justify-content: center;
    grid-template-areas:
        "opening closing";
}

.opening {
    grid-area: opening;
    text-align: center;
}

.closing {
    grid-area: closing;
    text-align: center;
}

#second-wire {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1em;
    justify-content: center;
    grid-template-areas:
        "tight round flat";
}

#tightening {
    grid-area: tight;
    text-align: center;
}

#rounder {
    grid-area: round;
    text-align: center;
}

#flatter {
    grid-area: flat;
    text-align: center;
}

.scraping-lists {
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

/* History Page Layout */
/* div#german-french {
    display: grid;
    grid-template-columns: 0.75fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
    grid-template-areas:
        "img german"
        "img french";
}

#german {
    grid-area: german;
    padding-left: 1em;
    padding-right: 2em;
    background-color: var(--background-color);
}

#french {
    grid-area: french;
    padding-left: 1em;
    padding-right: 2em;
    background-color: var(--background-color);
}

#german-french-img {
    grid-area: img;
    padding: 1em 0;
    min-width: 350px;
    max-width: 450px;
    width: 100%;
}

div#german-french p {
    margin: 1em;
} */

/* Images */
#fingering-chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#scales {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.phone-pics {
    min-width: 350px;
    max-width: 450px;
    width: 100%;
}

/* main#basics img {
    min-width: 150px;
}

section#set-up img {
    min-width: 200px;
    max-width: 250px;
    width: 33%;
} */

#air-flow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    max-width: 200px;
    width: 33%;
}

#reed-anatomy-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section#reed-modifying img {
    min-width: 150px;
    max-width: 250px;
    width: 100%;
    padding: 0 0.5em;
}

#cane-prep-image {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Jump Links */
.jump-links {
    text-align: center;
}

/* Links */
a:link {
    color: var(--gray-color);
}

a:visited {
    color: var(--gray-color);
    text-decoration: none;
}

a:hover {
    color: var(--red-color);
}

/* Footer */
footer,
#crookandstaple {
    clear: left;
    text-align: center;
    font-size: 0.75em;
    color: var(--gray-color);
}

/* Nav Bar */
nav {
    font-family: "Zilla Slab", Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: transparent;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

nav ul li {
    /* flex-basis: 20%; */
    padding: 0 1.5em;
}

nav ul li a {
    color: var(--white-color) !important;
    text-decoration: none;
    font-weight: bolder;
}

nav ul li a:hover {
    color: rgb(255, 172, 172) !important;
}

/* Media Queries */
/* Header, images, grid layouts break again at width <=330px */

@media (width <=456px) {
    header {
        width: auto;
        background-size: cover;
        font-size: larger;
    }

    h2,
    h3,
    h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--red-color);
        font-size: large;
    }
}

@media (width <=760px) {
    nav ul {
        flex-direction: column;
    }

    header {
        margin-top: -7em;
    }

    .header {
        text-align: center;
    }

    #scales {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #fingering-chart {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .phone-pics {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (width <=850px) {
    /* #set-up-and-img {
        grid-template-columns: 1fr;
        grid-template-rows: 2;
        grid-template-areas:
            "list"
            "image";
    } */

    /* #sitting-img {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    } */

    #set-up-list {
        width: 75%;
    }

    .first-wire {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "opening"
            "closing";
    }

    #second-wire {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "tight"
            "round"
            "flat";
    }
}

@media (width <=1075px) {
    div#german-french {
        grid-template-columns: 1fr;
        grid-template-rows: 3;
        grid-template-areas:
            "german"
            "french"
            "img";
    }

    #german-french-img {
        min-width: 100px;
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}